<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand -->
    <span class="navbar-brand mb-0 h1 navbar-brand-custom-text">
        <!-- 
            Icon created by Designmodo, under Creative Commons (Attribution 3.0 Unported) 
            URL: https://www.iconfinder.com/icons/102547/colors_document_edit_pen_pencil_write_icon#size=200 
        -->
        <img src="app-assets/images/pencil-colors.png" width="30" height="30" class="d-inline-block align-top">
        Taska
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Username & Available Projects -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">{{main.data.user}}</a>
            </li>
            -->
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group border-light">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-dark border-light text-success" data-toggle="modal" data-target="#newProjectForm">
                        <span class="oi oi-plus"></span>
                    </button>
                    <button type="button" class="btn btn-dark border-light text-warning" data-toggle="modal" data-target="#editProject" ng-if="main.currentProject.name != undefined">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-dark border-light text-danger" type="button" ng-click="main.deleteProject(main.currentProject)" ng-if="main.currentProject.name != undefined">
                        <span class="oi oi-trash"></span>
                    </button>
                </div>
                <select class="custom-select bg-dark text-white" 
                        ng-model="main.currentProject"
                        ng-options="project as project.name for project in main.data.projects"
                        ng-change="main.getSelectedProject()">
                        <option class="first-option-select" value="">Projects</option>
                </select>
            </div>
        </form>

    </div>
</nav>
