
<div class="container-fluid">
    <div class="row">
        <div class="col-sm p-2" ng-repeat="panel in main.getSelectedProject().panels" ng-if="main.getSelectedProject().panels.length > 0">

            <div class="card bg-light">
                <h5 class="card-header" ng-click="main.editPanel(panel)">{{panel.title}} ({{panel.tasks.length}}) </h5>
                <div class="card-body">
                    <div class="form-check" ng-repeat="task in panel.tasks">
                        <input class="form-check-input" type="checkbox" value="{{task.done}}" ng-model="task.done">
                        <label class="form-check-label done-{{task.done}}" ng-click="main.editTask(task)">{{task.title}}</label>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary rounded-circle add-button" data-toggle="modal" data-target="#newTaskForm">
                        <span class="oi oi-plus"></span>
                    </button>
                </div>
            </div>

        </div>
        <div class="col-sm p-2">
            <button type="button" class="btn btn-primary rounded-circle add-button" data-toggle="modal" data-target="#newPanelForm">
                <span class="oi oi-plus"></span>
            </button>
        </div>
    </div>
</div>


