<div class="container-fluid">
    <div class="row p-2">
        <div class="col-lg-3 m-2" ng-repeat="panel in main.getSelectedProject().panels" ng-if="main.getSelectedProject().panels.length > 0">

            <div class="card bg-light">
                <div class="card-header bg-transparent border-bottom-0">
                    <span class="pull-right"> 
                        <button class="btn text-danger bg-transparent rounded-circle btn-sm" type="button" ng-click="main.deletePanel(panel)">
                            <span class="oi oi-trash"></span>
                        </button>
                    </span>
                    <span>
                        <input type="text" 
                            class="border-0 bg-transparent font-weight-bold" 
                            ng-model="panel.title" 
                            value="{{panel.title}}">
                    </span>
                    <span class="font-weight-bold">({{panel.tasks.length}})</span>              
                </div>
                
                <div class="card-body">
                    <div class="input-group" ng-repeat="task in panel.tasks">

                        <div class="input-group-prepend">
                            <div class="input-group-text">
                            <input type="checkbox" value="{{task.done}}" ng-model="task.done">
                            </div>
                        </div>

                        <input type="text" 
                            class="form-control done-{{task.done}}" 
                            ng-model="task.title" 
                            value="{{task.title}}">

                        <div class="input-group-append">
                            <button class="btn text-danger bg-transparent border-0 btn-sm" type="button" ng-click="main.deleteTask(panel,task)">
                                <span class="oi oi-circle-x"></span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="card-footer text-center">
                    <button type="button" 
                            class="btn btn-dark btn-sm rounded-circle add-button" 
                            data-toggle="modal" 
                            data-target="#newTaskForm" 
                            ng-click="main.setCurrentPanel(panel)">
                            <span class="oi oi-plus"></span>
                    </button>
                </div>
            </div>

        </div>
        <div class="col-sm m-2" ng-if="main.currentProject.name != undefined">
            <button type="button" class="btn btn-dark btn-sm rounded-circle add-button" data-toggle="modal" data-target="#newPanelForm">
                <span class="oi oi-plus"></span>
            </button>
        </div>
    </div>
</div>


