body{
    background-color: #F4CD68;
}

.navbar-brand-custom-text{
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Short Stack', cursive;
}

.done-false {
    font-size: 12px;
    color: #000;
}

.done-true {
    font-size: 12px;
    text-decoration: line-through;
    color: #808080;
}

.add-button{
    transition: transform 0.5s;
}

.add-button:hover{
    transform: rotate(90deg);
}

.pull-right{
    float: right;
}

.first-option-select{
    display: none;
}