body{
    background-color: #F4CD68;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.lateral-nav{
    background-color:#76A665;
    height: 100%;
}

.lateral-buttons{
    margin: 10px 0px 10px 0px;
}